[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/matheo97/auth-ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/matheo97/client-gateway.git
[submodule "account-mw"]
	path = account-mw
	url = https://github.com/matheo97/account-mw.git
[submodule "ai-messaging-mw"]
	path = ai-messaging-mw
	url = https://github.com/jfernandezdev14/ai-messaging-middleware.git
